@(products: Seq[Product], form: Form[Product])(implicit messages: MessagesProvider, request: RequestHeader)

@main(Messages("application.name")) {
  <p>Click on a button to choose list view or grid view.</p>

  <div id="btnContainer">
    <button class="btn" onclick="listView()"><i class="fa fa-bars"></i> List</button> 
    <button class="btn" onclick="gridView()"><i class="fa fa-th-large"></i> Grid</button>
  </div>

  <dl class="row">
    @for(product <- products) {
      <div class="column" style="border:1px solid black;">
        <dt>@product.name</dt>
        <dd>@product.description</dd>
        <dd>@product.ean</dd>
      </div>
    }
  </dl>

  @if(form.hasGlobalErrors) {
    @form.globalErrors.map { (error: FormError) =>
      <div>
        @error.key: @error.message
      </div>
    }
  }

  <div class="product-form">
    @helper.form(routes.ProductController.createProduct()) {
      @helper.CSRF.formField

      @helper.inputText(form("ean"))
      @helper.inputText(form("name"))
      @helper.textarea(form("description"), Symbol("columns") -> 3, Symbol("rows") -> 5)

      <button>Create Product</button>
    }
  </div>
}
