@(form: Form[Product])(implicit messages: MessagesProvider, request: RequestHeader)

@main(Messages("application.name")) {
  <h1>Add a product</h1>
    
  @if(form.hasGlobalErrors) {
    @form.globalErrors.map { (error: FormError) =>
      <div>
        @error.key: @error.message
      </div>
    }
  }

  <div class="product-form">
    @helper.form(routes.ProductController.save()) {
      @helper.CSRF.formField

      @helper.inputText(form("ean"))
      @helper.inputText(form("name"))
      @helper.textarea(form("description"), Symbol("columns") -> 3, Symbol("rows") -> 5)

      <button>Create Product</button>
    }
  </div>
}
